
# Airflow
AIRFLOW_UID=50000
AIRFLOW_ORIGIN_IMAGE_NAME=apache/airflow:3.1.8-python3.13
AIRFLOW_IMAGE_NAME=apache/airflow:3.1.8-python3.13-custom
AIRFLOW_ADMIN_USERNAME=1234
AIRFLOW_ADMIN_PASSWORD=1234
AIRFLOW_CORE_EXECUTOR=LocalExecutor
AIRFLOW_POSTGRES_SERVICE_NAME=airflow-postgres
AIRFLOW_REDIS_SERVICE_NAME=airflow-redis
AIRFLOW_FLOWER_SERVICE_NAME=airflow-flower
AIRFLOW_REDIS_PORT=6379
AIRFLOW_API_PORT=8080
AIRFLOW_FLOWER_PORT=5555
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_POSTGRES_DB_VOLUME_NAME=airflow-postgres-db-volume
AIRFLOW_WORKER_COMMAND=celery worker
_AIRFLOW_WWW_USER_USERNAME=1234
_AIRFLOW_WWW_USER_PASSWORD=1234
AIRFLOW_EXTRAS=fab,postgres,mysql,docker,elasticsearch,pgvector,redis,apache-kafka,apache-spark,grpc,http,opensearch